@model IEnumerable<MyProject.Domain.Models.Employee>
@{
    ViewData["Title"] = "Employee WebApi";
}

<div>
    <h3>@ViewData["Title"]</h3>
    <hr />
    
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Patronymic</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var value in Model)
        {
            <tr>
                <th>@(value.Age) </th>
                <th>@(value.FirstName )</th>
                <th>@(value.LastName )</th>
                <th>@(value.Patronymic )</th>
                <th>@(value.Age )</th>
                <th>@(value.Email)</th>
                <td>
                    <form>
                        <button type="submit" class="btn btn-info btn-sm">
                            <i class="fa fa-times">Редактировать</i>
                        </button>
                    </form>
                </td>
                <td>
                    <form>
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fa fa-times">Удалить</i>
                        </button>
                    </form>
                </td>
                @*<td>
            <form asp-action="DeleteConfirmed" asp-route-id="@employee.Id">
                <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>
                </button>
            </form>
        </td>*@
            </tr>
        }
        </tbody>
    </table>
</div>

