@model IEnumerable<MyProject.Domain.Models.Employee>
@{
    ViewData["Title"] = "Employee WebApi";
}

<div>
    <h3>@ViewData["Title"]</h3>
    <hr />
    
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Patronymic</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        
        @foreach (var value in Model)
        {
            <tr>
                <th>@(value.Age) </th>
                <th>@(value.FirstName )</th>
                <th>@(value.LastName )</th>
                <th>@(value.Patronymic )</th>
                <th>@(value.Age )</th>
                <th>@(value.Email)</th>
            </tr>
        }
        </tbody>
    </table>
</div>

